<!-- Start Navigasi -->
<nav class="fixed-top" data-aos="fade-down" data-aos-duration="1500">
    <ul class="menubar">
      <li class="logo">
        <a href="/register">Home</a>
      </li>

    </ul>
  </nav>
  <!-- End Navigasi -->